<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Music Records</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <h1>Music Records</h1>
  <div id="app">
    <h2>Get all etc (GET)</h2>
    <button id="getAllButton" v-on:click="getAllRecords" class="btn btn-primary">Get all records</button>

    <br />
    <input v-model="search" id="searchId" placeholder="search" type="text"/>
    <button id="getByTitle" v-on:click="getByTitle(search)" class="btn btn-primary">getByTitle</button>
    <button id="getByArtist" v-on:click="getByArtist(search)" class="btn btn-primary">getByArtist</button>
    <button id="getByYearOfPublication" v-on:click="getByYearOfPublication(search)" class="btn btn-primary">getByYearOfPublication</button>


    <ul id="recordlist" v-if="records.length">
      <li v-for="record in records">
        {{record.nr}} : {{record.title}} by {{record.artist}}, it lasts {{record.duration}} seconds, and it came out in year {{record.yearOfPublication}}
      </li>
    </ul>
    <div v-else>No records</div>



    <!-- <h2>Get by Id (GET)</h2>
    <input v-model="titleToGetBy" placeholder="id" type="number" />
    <button v-on:click="getByTitle(titleToGetBy)" class="btn btn-primary">Get by title</button>
    <div v-if="singleRecord">
      {{record.nr}} {{record.title}} : {{record.artist}} {{record.duration}} {{record.yearOfPublication}}
    </div>
    <div v-else>No such record</div> -->

    <script src="bundle.js"></script>


  </div>
</body>

</html>